# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Procode/__pycache__
/Procode/test.db
/cells/__pycache__
/cells/api/__pycache__
/cells/migrations/__pycache__

# testing
/cells/tests/coverage
/cells/tests/__pycache__


# production



# misc

