{% load widget_tweaks %}
{% if messages %}
      <!--Message error-->
      {% for mess in messages %}
          <div class="alert alert-{{mess.tags|lower}} alert-dismissible fade show box-alert-transition" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              {{ mess }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
{% endif %}
<form method="POST" id="login">
    <!--Login-->
    {% csrf_token %}
    <div class="row row-cols-1 container">
        <div class="col p-3">
            <li class="list-unstyled">
                <label for="inputUsername" class="for-label">Nombre de Usuario</label> 
            </li>
            <li class="list-unstyled">
                {% if form.username.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.username.errors }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% render_field form.username class+="form-control" %}
            </li>
        </div>
    </div>
    <div class="row row-cols-1 container">
        <div class="col pb-3">
            <li class="list-unstyled">
                <label for="inputPassword" class="form-label">Clave</label>
            </li>
            <li class="list-unstyled">
                {% if form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.password.errors }}
                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endif %}
            {% render_field form.password class+="form-control" %}
            </li>
        </div>
    </div>
    <div class="container text-end">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>
<a href="#" class="nav-link active" onclick=restorepassword(event)>Si olvidó su clave click aqui</a>
