{% extends 'cell_index.html' %}
{% block title %}Email{% endblock title %}

{% block content %}
    <div style="height: 2rem;"></div>
    <div class="container text-capitalize font-monospace p-3 bg-profile" style="height: 50rem;">
        <h3 style="color:#215f49;" class="text-center"> Calve restablecida</h3>
        <p><h5 style="color:#215f49;">Se envió un email a su cuneta, por favor reviselo y sigua instrucciones</h5></p>
        <p><h5 style="color:#215f49;">Si no recibió un email comuniquese con la administración del este sitio</h5></p>
    </div>
    <div style="height: 20rem;"></div>
{% endblock content %}
{% block script %}{% endblock script %}