{% extends 'cell_index.html' %}
{% block title %}Recuperación{% endblock title %}
{% load widget_tweaks %}

{% block content %}
    <div class="container p-3" style="height: 40rem;">
        <h5 class="text-center font-monospace p-lg-3 p-sm-1" style="color:#215f49;">Ponga su e-mail</h5>
        <form action="" method="POST"> 
            {% csrf_token %}
            <div class="row row-cols-1 container">
                <div class="col-6 pb-3 container">
                    <li class="list-unstyled"><label for="inputEmail" class="for-label">E-mail</label></li>
                    <li class="list-unstyled">
                        {% if form.email.errors %}
                            <div class="alert alert-danger" role="alert">{{ form.email.errors }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        {% render_field form.email class+="form-control" %}
                    </li>
                </div>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}{% endblock script %}
