{% extends 'cell_index.html' %}
{% block title %}Confirmación{% endblock title %}
{% load widget_tweaks %}
{% block content %}
    <div style="height: 2rem;"></div>
    <div class="container p-3 w-50 bg-profile" style="height: 50rem;">
        {% if validlink %}
            <h3 class="text-center font-monospace p-lg-3 p-sm-1" style="color:#215f49;">Ponga su clave</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row row-cols-1 container">
                    <div class="col-6 pb-3 container">
                        <li class="list-unstyled">
                            {{ form.as_p }}
                        </li>
                    </div>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Cambiar clave</button>
                </div>
            </form>
        {% else %}
            <div class="container text-center"><p style="color:#215f49;">El enlace no es valido, debe repitir el cambio de clave.</p></div>
        {% endif %}
        
    </div>
    <div style="height: 20rem;"></div>
{% endblock content %}
{% block script %}{% endblock script %}

