{% extends 'cell_index' %}

{% block title %}Reset Password{% endblock title %}Reset Password

{% block middle %}{% endblock middle %}

{% load widget_tweaks %}

<h5 class="text-center">Ponga su dirección de correo electrónico</h5>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row row-cols-1 container">
        <div class="col p-3">
            <li class="list-unstyled"><label for="inputEmail" class="for-label">E-mail</label></li>
            <li class="list-unstyled">
                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.email.errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% render_field form.email class+="form-control" %}
            </li>
        </div>
    </div>
    <div class="container text-end">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>