{% extends 'cell_index.html' %}
{% block title %}Email{% endblock title %}

{% block content %}
    <div class="container-md text-center text-capitalize p-lg-3" style="height: 40rem;">
        <h3 style="color:#215f49;"> Calve restablecida</h3>
        <p><h5 style="color:#215f49;">Se envió un email a su cuneta, por favor reviselo y sigua instrucciones</h5></p>
        <p><h5 style="color:#215f49;">Si no recibió un email comuniquese con la administración del este sitio</h5></p>
    </div>
{% endblock content %}
{% block script %}{% endblock script %}