<!--Pendiente a utilizar por separado-->
<h3 class="text-center">Reset your password</h3>
{% if validlink %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="inputChangepassword" class="form-label">Password</label>
            {{ form.password }}
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Change password</button>
        </div>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
{% endif %}


