{% extends 'cell_index.html' %}
{% block title %}Confirmación{% endblock title %}
{% load widget_tweaks %}
{% block content %}
    <div class="container p-3 w-50" style="height: 40rem;">
       
        {% if validlink %}
            <h3 class="text-center font-monospace p-lg-3 p-sm-1" style="color:#215f49;">Ponga su clave</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row row-cols-1 container">
                    <div class="col-6 pb-3 container">
                        <li class="list-unstyled"><label for="inputPassword" class="for-label">Clave</label></li>
                        <li class="list-unstyled">
                            {% if form.password.errors %}
                                <div class="alert alert-danger" role="alert">{{ form.password.errors }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            {% render_field form.password class+="form-control" %}
                        </li>
                    </div>
                </div>

                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Cambiar clave</button>
                </div>
            </form>
        {% else %}
            <div class="container text-center"><p style="color:#215f49;">El enlace no es valido, debe repitir el cambio de clave.</p></div>
        {% endif %}
        
    </div>
{% endblock content %}
{% block script %}{% endblock script %}

