.nav-hover a:hover{
     border-bottom: 2px solid rgb(25, 25, 220);
}

.zoon {
     border-radius: 5px ;
     overflow: hidden;
     transition: all ease-in-out 0.2s;
}
 
.zoon :hover{
     transform: scale(1.05);
}


.intro {
     background: url('../img/tapis/intro-bg.jpg') 100%;
     box-shadow: 5px 5px 5px #080300ff;
     border-radius: 1%;
}


.tapis-container {
     background: rgb(255, 255, 255);
     background: -moz-radial-gradient(rgba(238, 236, 236, 0.679),rgba(9, 14, 22, 0.105));
     

}

.social {
    background-color: #080300ff;
}

.carousel-center .carousel-item {
     z-index: 2;
     margin-left: 45%;
     overflow: hidden;
}

.link ul{
     list-style: none;
     margin-left: 100%;
     
}
