.nav-hover a:hover{
     border-bottom: 2px solid rgb(25, 25, 220);
}

.zoon img  {
     border-radius: 2px ;
     overflow: hidden;
     transition: all ease-in-out 0.2s;
}
 
.zoon :hover{
     transform: scale(1.05);
}


.title-procode {
     background: url('../img/tapis/intro-bg.jpg') 100rem;

}

.title-procode main {
     margin-top: 2rem;
     animation: 1.5s cubic-bezier(0.42, 0.0, 0.58, 1.0) slidein;
}

@keyframes slidein {
     from {
          
          margin-top: -160px;
     }
     to {
          
          margin-top: 2rem;
     }
}

.carousel-background {
     background: rgba(208, 117, 99, 0.73);

}

.footer-bg {
     background: radial-gradient(rgb(200, 195, 195),rgba(202, 202, 196, 0.551));
     
}


.items-background {
     background: rgba(7, 3, 52, 0.567);
}