{% load widget_tweaks %}
<form method="POST" action="" id="deleteprofile" >
    <!--Delete account-->
    {% csrf_token %}
    <div class="row row-cols-1 container">
        <div class="col p-3">
            <li class="list-unstyled">
                <label for="inputConfirm" class="for-label">Confirmación</label> 
            </li>
            <li class="list-unstyled">
                <p>Si acepta, se eliminará su perfil del sistema</p>
                {% render_field form.delete class+="form.control" %}
            </li>
        </div>
    </div>
    <div class="container text-end">
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </div>
</form>