{% load widget_tweaks %}
<form method="POST" id="deleteprofile" data-pk="{{ pk }}">
    {% csrf_token %}
    <div class="row row-cols-1 container">
        <div class="col p-3">
            <li class="list-unstyled">
                <label for="inputConfirm" class="for-label">Confirmación</label> 
            </li>
            <li class="list-unstyled">
            {% render_field form.delete class+="form-control" %}
            </li>
        </div>
    </div>
    <div class="container text-end">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>