<form method="POST" action=" {% url 'cells:delete_profile' %} " >
    {% csrf_token %}
    <div class="row row-cols-1 container">
        <div class="col p-3">
            <li class="list-unstyled">
                <label for="inputConfirm" class="for-label">Confirmación</label> 
            </li>
            <li class="list-unstyled">
                <p>Si acepta, se eliminará su perfil del sistema</p>
                {{ form.as_p }}
            </li>
        </div>
    </div>
    <div class="container text-end">
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </div>
</form>