{% extends 'cell_index.html' %}
{% block title %}Actualizar perfil{% endblock title %}
{% load widget_tweaks %}

{% block content %}
  <div style="height: 2rem;"></div>
  <div class="container pt-4 bg-profile" style="height: 50rem;">
    {% if messages %}
            <!--Message-->
            {% for mess in messages %}
                <div class="alert alert-{{mess.tags|lower}} alert-dismissible fade show box-alert-transition" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    {{ mess }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
      {% endif %}
    <form method="POST"  enctype="multipart/form-data" action="">
        <!--Update profile-->
        {% csrf_token %}
        <div class="row row-cols-1  container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputUsername" class="form-label">Nombre de Usuario</label>
            </li>
            <li class="list-unstyled">
              {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
              {% endif %}
              {% render_field form.username class+="form-control" %}
            </li>
          </div>
        </div>

        <div class="row row-cols-1  container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputFirstname" class="form-label">Nombre</label>
            </li>
            <li class="list-unstyled">
              {% if form.first_name.errors %}
                  <div class="alert alert-danger"> {{ form.first_name.errors }} </div>
              {% endif %}
              {% render_field form.first_name class+="form-control" %}
            </li>
          </div>
        </div>

        <div class="row row-cols-1 container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputLastname" class="form-label">Apellidos</label>
            </li>
            <li class="list-unstyled">
              {% if form.last_name.errors %}
                  <div class="alert alert-danger"> {{ form.last_name.errors }} </div>
              {% endif %}
              {% render_field form.last_name class+="form-control" %}
            </li>
          </div>
        </div>

        <div class="row row-cols-1 container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputAddress" class="form-label">Dirección</label>
            </li>
            <li class="list-unstyled">
              {% if form.address.errors %}
                  <div class="alert alert-danger"> {{ form.address.errors }} </div>
              {% endif %}
              {% render_field form.address class+="form-control" %}
            </li>
          </div>
        </div>

        <div class="row row-cols-1 container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputPhone" class="form-label">Movil</label>
            </li>
            <li class="list-unstyled">
              {% if form.phone.errors %}
                  <div class="alert alert-danger"> {{ form.phone.errors }} </div>
              {% endif %}
              {% render_field form.phone class+="form-control" %}
            </li>
          </div>
        </div>

        <div class="row row-cols-1 container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputEmail" class="form-label">E-mail</label>
            </li>
            <li class="list-unstyled">
              {% if form.email.errors %}
                  <div class="alert alert-danger"> {{ form.email.errors }} </div>
              {% endif %}
              {% render_field form.email class+="form-control" %}
            </li>  
          </div>
        </div>

        <div class="row row-cols-1 container">
          <div class="col pb-2">
            <li class="list-unstyled">
              <label for="inputImage" class="form-label">Imagen de perfil</label>
            </li>
            <li class="list-unstyled">
              {% if form.image.errors %}
                  <div class="alert alert-danger"> {{ form.image.errors }} </div>
              {% endif %}
              {% render_field form.image class+="form-control" %}
            </li>
          </div>
        </div>
        <div class="container text-end">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
  </div>
  <div style="height: 20rem;"></div>
{% endblock content %}
{% block script %}{% endblock script %}