{% for item in items %}
    <div class="col">
        <div class="card" style="width: 10rem;">
            <img src=" {{ item.image }} " class="card-img-top img-fluid rounded" alt="No existe imagen">
            <div class="card-body">
              <h5 class="card-title"> {{ item.model_name }} </h5>
              <p class="card-text">Actualizado: {{ item.updated_date }}</p>
              <p class="card-text">Precio: {{ item.price }} $</p>
              <p class="card-text">Descripción: {{ item.description }} </p>

              <button class="btn btn-primary" id="updateitem-{{ item.pk }}" data-pk="{{ item.pk }}" data-bs-toggle="modal" data-bs-target="#modalblock" onclick=getSelector(event)>
                Actualizar
              </button>
              <button class="btn btn-primary" id="deleteitem-{{ item.pk }}" data-pk="{{ item.pk }}" data-bs-toggle="modal" data-bs-target="#modalblock" onclick=getSelector(event)>
                Eliminar
              </button>

            </div>
          </div>
    </div>
{% endfor %}