{% for item in items %}
    <div class="col">
        <div class="card" style="width: 10rem;">
            <img src="/media/{{ item.image }} " class="card-img-top img-fluid rounded" alt="No existe imagen">
            <div class="card-body">
              <h5 class="card-title"> {{ item.model_name }} </h5>
              <p class="card-text">Actualizado: {{ item.updated_date }}</p>
              <p class="card-text">Precio: {{ item.price }} $</p>
              <p class="card-text">Descripción: {{ item.description }} </p>

              <a href=" {% url 'cells:update_item' item.pk %} " class="btn btn-primary">Actualizar</a>
              <button class="btn btn-primary" id="deleteitem-{{ item.pk }}" data-pk="{{ item.pk }}" data-bs-toggle="modal" data-bs-target="#modalblock" onclick=deleteitem(event)>
                Eliminar
              </button>

            </div>
          </div>
    </div>
{% endfor %}