/* Index */
.zoon img  {
     border-radius: 2px ;
     overflow: hidden;
     transition: all ease-in-out 0.2s;
}
 
.zoon :hover{
     transform: scale(1.05);
}

.footer-bg {
     background-color: #215f49;
}

.navbar-bg {
     background-color: #215f49;
     width: 100%;
     position: fixed;
     z-index: 5;
     
}

.navbar-onscroll {
     width: 100%;
     position: fixed;
     z-index: 5;
}

.middle-bg-1 {
     background-color:#f27405;
     
}

.middle-bg-2 {
     z-index: 0;
     position: relative;
     background: url('../img/img_presentation/intro-bg.jpg') 100rem ;
     height: 20rem;


}

.text-middle-2 {
     z-index: -1;
     position: relative;
     bottom: 0%;
     animation: prosmiddle2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes prosmiddle2 {
     from {
          bottom: -50%;
     }
     to {
          bottom: 1rem;
     }
}

.procode-pres1 {
     z-index: -1;
     position: relative;
     bottom: 0%;
     animation: prosliding1 1.2s cubic-bezier(0.47, 0, 0.745, 0.715);

}
@keyframes prosliding1 {
     from {
          bottom: -100%;
     }
     to {
          bottom: 1rem;
     }
     
}

.procode-pres3 {
     position: relative;
     left: 0%;
     animation: prosliding3 1.8s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes prosliding3 {
     from {
          left: -100%;
     }
     to {
          left: 1rem;
     }
     
}

.procode-pres5 {
     left: 0%;
     position: relative;
     animation: prosliding5 1.7s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes prosliding5 {
     from {
          left: -100%;
     }
     to {
          left: 1rem;
     }
     
}

.procode-pres6 {
     right: 0%;
     position: relative;
     animation: prosliding6 1.7s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes prosliding6 {
     from {
          right: -100%;
     }
     to {
          right: 1rem;
     }
     
}




/* Profile */

.card-bg {
     background:#4829b2;
     border-radius: 3% 3% 0 0;
     
}

#items-ajax{
     border-radius: 5%;
     margin: solid 5%;
     
}

.bg-profile{
     background: #edf2f9;
}

.bg-verticalsearch {
     background: #211e4d;
     border-radius: 0% 0% 3% 3%;
}

.box-alert-transition {
     position: relative;
     left: 0%;
     animation: transLeft 2s cubic-bezier(0.165, 0.84, 0.44, 1);

}
@keyframes transLeft {
     from {
          
          left: -100%;
     }
     to {
          
          left: 1rem;
     }
     
}


/* Shoping */

.item-block {
     overflow:scroll;
     border: solid 5%;
     border-radius: 5px;
     background:#c1d1e894;
     height: 50rem;
}
.image-carousel {
     height: 40rem;
     width: 100rem;
     image-resolution: from-image 300dpi;
     border-radius: 1%;
}


/* Who we are */

.whoare {
     background: url('../img/img_presentation/havana-4033111.jpg') 100rem center;
     position: relative;
     
     
}

.user {
     background: #edf2f97b;
     border-radius: 1%;
     position: relative;
     margin: 5%;
     left: 0%;
     animation: usersliding 1s cubic-bezier(0.47, 0, 0.745, 0.715);

}
@keyframes usersliding {
     from {
          left: -100%;
     }
     to {
          left: 1rem;
     }
     
}


/* Contact */

.contact-user {
     height: 50em;
     position: relative;
     background:#edf2f9;
     border-radius: 1%;
     margin: 2%;
     bottom: 0%;
     animation: contactsliding 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes contactsliding {
     from {
          bottom: -100%;
     }
     to {
          bottom: 1rem;
     }
     
}

/* Info */

.info {
     background: #c1d1e894;
     position: relative;
     margin:8%;
     border-radius: 1%;
     right: 0%;
     animation: infosliding 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes infosliding {
     from {
          right: -100%;
     }
     to {
          right: 1rem;
     }
     
}