/* Index */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-size: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     scroll-behavior: smooth;

}

*::after,
*::before {
     box-sizing: inherit;
}


.procode-background {
     background-color: linear-gradient(#2a3aaf,#f1f1f0e2);
     box-shadow: 1px 2px 10px rgba(68, 67, 67, 0.744);

}

.procode-title {
     font-weight: 500;
     font-family: 'Gill Sans';
     font-style: 0 45;
     font-size: 5rem;
     color: hsl(300, 25%, 98%);
     padding: 10% 0% 2% 0%;

}

@media screen and (max-width: 720px) {
     .procode-title {
          font-size: 2.5rem;
          padding-top: 40%;
     }

}

.zoon img {
     border-radius: 2px;
     overflow: hidden;
     transition: all ease-in-out 0.2s;
}

.zoon :hover {
     transform: scale(1.05);
}

.footer-bg {
     background-color: #215f49;
}

.navbar-bg {
     background: #fffA;
     width: 100%;
     position: fixed;
     z-index: 5;

}

.navbar-onscroll {
     width: 100%;
     position: fixed;
     z-index: 5;
     background-color: transparent;
     color: #f27405;
}

@media screen and (max-width: 70rem) {
     .navbar-onscroll {
          background: #fffA;
     }
}

.middle-bg-1 {
     background-color: #f27405;
}

.middle-bg-2 {
     z-index: -2;
     height: 30rem;
     background: url('../img/img_presentation/servers.jpg') no-repeat center;
     background-attachment: fixed;
}

@media screen and (max-width: 70rem) {
     .middle-bg-2 {
          z-index: -2;
          height: 60rem;
          background: url('../img/img_presentation/servers-small.jpg') no-repeat center;
          background-attachment: fixed;
     }
}

.procode-pres1 {
     animation: appearTitle ease 5s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}

@keyframes appearTitle {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }

}

.procode-pres2 {
     animation: prosliding2 ease 2s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
}

@keyframes prosliding2 {
     0% {
          filter: blur(1.5rem);
     }

     100% {
          filter: blur(0rem);
     }

}

.procode-pres3 {
     z-index: -1;
     animation: prosmiddle3 ease 1.9s;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
}

@keyframes prosmiddle3 {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}



/* Profile */

.card-bg {
     background: #0b5ed7;
     border-radius: 3% 3% 0 0;

}

#items-ajax {
     border-radius: 5%;
     margin: solid 5%;

}

.bg-profile {
     background: url('../img/img_presentation/background-users.jpg') no-repeat center;
     background-position: fixed;
}

@media screen and (max-width: 70rem) {
     .bg-profile {
          background: url('../img/img_presentation/background-users-small.jpg') no-repeat center;
          background-position: fixed;
     }

}

.bg-verticalsearch {
     background: #1b1384;
     border-radius: 0% 0% 3% 3%;
}

.box-alert-transition {
     position: relative;
     left: 0%;
     animation: transLeft 2s cubic-bezier(0.165, 0.84, 0.44, 1);

}

@keyframes transLeft {
     from {

          left: -100%;
     }

     to {

          left: 1rem;
     }

}


/* Shoping */

.item-block {
     overflow: scroll;
     border: solid 5%;
     border-radius: 5px;
     background: #c1d1e894;
     height: 50rem;
}

.img-bg {
     background: url('../img/img_presentation/friends.jpg') no-repeat center;
}

@media screen and (max-width: 70rem) {
     .img-bg {
          background: url('../img/img_presentation/friends-small.jpg') no-repeat center;
     }
}


.user {
     background: #edf2f97b;
     border-radius: 1%;
     position: relative;
     margin: 5%;
     animation: usersliding ease 2s;

}

@keyframes usersliding {
     0% {
          opacity: 0;
          ;
     }

     100% {
          opacity: 1;
     }

}

/* Crear evento de aparicion  */

.img-bg-who {
     height: 30rem;
     background: url('../img/img_presentation/venue-bg.jpg') no-repeat center;
     background-attachment: fixed;

}

@media screen and (max-width: 70rem) {
     .img-bg-who {
          height: 30rem;
          background: url('../img/img_presentation/venue-bg-small.jpg') no-repeat center;
          background-attachment: fixed;

     }
}

.text-who-apper {
     opacity: 1;
     animation: apperText ease 1s 1;

}

@keyframes apperText {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }

}

.text-who-hidde {
     opacity: 0;
     animation: hiddeText ease .2s 1;
}

@keyframes hiddeText {
     0% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }

}

.layout-reverse {}

@media screen and (max-width: 70rem) {
     .layout-reverse {
          display: flex;
          flex-direction: column-reverse;
     }
}