.nav-hover a:hover{
     border-bottom: 2px solid rgba(255, 166, 0, 0.876);
}

.zoon img  {
     border-radius: 2px ;
     overflow: hidden;
     transition: all ease-in-out 0.2s;
}
 
.zoon :hover{
     transform: scale(1.05);
}


.body-bg {
     background: rgba(236, 236, 240, 0.868);

}

.footer-bg {
     background-color: #101010;
     
}

.navbar-bg {
     background-color: #101010;
}

.middle-bg-1 {
     background-color: rgba(229, 147, 46, 0.941);
}

.middle-bg-2 {
     background: url('../img/img_presentation/havana-2774928_1920.jpg') 100rem no-repeat center center;
     height: 200px;
     
     
}


.logo-trans {
     margin-top: 0rem;
     animation: 1.5s cubic-bezier(0.42, 0.0, 0.58, 1.0) slidein;
}

@keyframes slidein {
     from {
          
          margin-top: -160px;
     }
     to {
          
          margin-top: 0rem;
     }
}

