{% extends 'cell_index.html' %}
{% load static %}
{% block title %}Contactos{% endblock title %}

{% block content %}
<!--Contact-->
<div style="height: 5rem;"></div>
<div class="container-center text-center p-5 contact-user">
    <h3 class="bi-type-h3 ">Enlaces</h3>
    <p class="text-body">
        Nuestro equipo de trabajo está construido por ingenieros <br>
        formados en el campo de las Telecomunicaciones y la Electrónica. <br>
        Con mas de 5 años de experiencia en el desarrollo web <br>
        Nos caracterizamos por la superacion personal de nuestros <br>
        miembros.<br>
        <h5>Maikel Barrios <br></h5>
        Desarrollador full-stack (Python,Django,Bootstrap,Angular) <br>
        Link: <a href="mailto:ingmbi8807@gmail.com" class="link-info">ingmbi8807@gmail.com <br></a>
        <h5>Yasmany Armas Fuentes <br></h5>
        Desarrollador full-stack (JavaScript,Node.js,Bootstrap,React) <br>
        Link: <a href="mailto:yasmaniarmas1995@gmail.com" class="link-info">yasmaniarmas1995@gmail.com <br></a>
        <!--
           <h5>Felix Garcia <br></h5>
        Desarrollador front-end (JavaScript,Bootstrap,React) <br>
        Link: <a href="mailto:" class="link-info"> </a> 
        -->
        
    </p>
</div>
<div style="height: 10rem ;"></div>
{% endblock content %}

{% block script %}
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
{% endblock script %}