{% extends 'cell_index.html' %}
{% load static %}
{% block title %}Contactos{% endblock title %}

{% block content %}
<!--Contact-->
<div style="height: 5rem;"></div>
<div class="container-center text-center p-5 contact-user">
    <h3 class="bi-type-h3 ">Enlaces</h3>
    <p class="text-body">{% lorem 1 p random %}</p>
</div>
<div style="height: 10rem ;"></div>
{% endblock content %}

{% block script %}
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
{% endblock script %}