{% extends 'cell_index.html' %}
{% load static %}
{% block title %}Información{% endblock title %}

{% block content %}
<!--Info-->
<div style="height: 5rem;"></div>
<div class="container-center text-center info">
    <div class="container p-4 block-effect-1">
        <h3 class="bi-type-h3">Recuento</h3>
        <p class="text-body">
            Somos un equipo de dasarrolladores <br>
            enfocados en el mejoramiento de la web <br>
            Nuestro trabajo va desde la infraestructura <br>
            hasta la interfaz UI. Creamos sitio y microservicios <br>
            segun los requerimientos del cliente, todo con la mayor <br>
            eficiencia y en el menor tiempo posible.<br>
            Está aplicacion es una pequeña muestra de nuestros servicios <br>
            la misma no tiene un caracter altamente comercial pero es altamente <br>
            escalable. Esta orientada a la venta de dispositivos moviles. <br> 
            Está formada por una arquitectura MVT, a demas de implementar microservicios <br>
            
        </p>
    </div>
    <div class="container p-4 block-effect-2">
        <h3 class="bi-type-h3">Acuerdos</h3>
        <p class="text-body">
            Trabajamos con un contrato donde el cliente <br>
            es lo princial, nuestro objetivo es hacer cumplir <br>
            tu sueños. Lograr una buena reseña y  posicionamiento, <br>
            es nuestro objetivo laboral.<br>
        </p>
    </div>
    <div class="container p-4 block-effect-3">
        <h3 class="bi-type-h3">Porque elegirnos</h3>
        <p class="text-body">
            ¿Que tenemos de diferente ? Somos a demas <br>
            de desarrolladores, especialistas en redes e <br>
            infraestructura. Estamos formados por especialistas <br>
            en varias ramas de las tecnologias web. Trabajamos con las <br>
            ultimas tecnologias emergentes como: React, Angular, FastApi, Django. <br>
            Configuramos router, switch, servidores y firewall de tecnologias Cisco, <br>
            Huawei, Mikrotik, Tp-link. No importa si tus dispositivo es diferente. <br>
            lo estudiamos y lo configuramos segun tus necesidades. <br>
        </p>
    </div>
</div>
<div style="height: 10rem;"></div>
{% endblock content %}
{% block script %}
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
{% endblock script %}