{% extends 'cell_index.html' %}
{% block title %}Quienes somos{% endblock title %}
{% load static %}

{% block content %}
<!--Who are we-->
<div class="row row-cols-1">
  <div class="text-center procode-background" style="height: 30rem">
    <h1 class="procode-title  procode-pres1">© PR0C0D3|Quienes Somos</h1>
  </div>
</div>
<div style="height: 10rem;"></div>
<div class="row row-cols-lg-2 row-cols-g-2 row-cols-md-2 row-cols-sm-1 whoare" style="height: 45rem;">
  <div class="col-lg-7 col-g-5 col-sm-1 text-center p-lg-5 p-sm-4 p-md-3 pb-2">
    <img src=" {% static 'img/img_presentation/Team-procode.jpg' %} " alt="" class="img-fluid rounded-circle w-75">
  </div>
  <div class="col-lg-5 col-g-5 col-sm-1 p-lg-5 text-center">
    <h5 class="h5-h-100 text-black-50" style="padding-top: 2rem;">
      <p>
        Somos un equipo multidisciplinario, <br>
        nos une la pasión por el trabajo. <br>
        Tenemos años de formación en desarrollo web. <br>
        Dominamos los protocolos de comunicacion y la  <br>
        ciberseguridad de las aplicaciones. <br>
        Hacemos un análisis de las métricas de tu stio detallo. <br>
        Creamos aplicaciones a tu media. <br>
        Capacitamos a tus miembros. <br>
        Brindamos acesoria técnica. <br>
        Nos efocamos en los detalles. <br>
      </p>
    </h5>
  </div>
</div>
<div style="height: 20rem;"></div>
<div class="row row-cols-lg-2 row-cols-g-2 row-cols-md-2 row-cols-sm-1 middle-bg-1" style="height: 23rem">
  <div class="col-lg-5 col-g-5 col-sm-1 text-center">
    <h5 class="h5-h-100 text-light" style="padding-top: 1rem;">
      <p>
        Trabajamos con tecnologías emergentes. <br>
        Nos mantenemos al tanto de los últimos acontecimentos y  <br>
        necesidad de nuestros usuarios.  <br>
        Implementamos un compendio de multiples tecnicas de desarrollo. <br>
        Nos enfocamos en encontrar lo que mejor se adapta a los requerimientos <br>
        de los usuarios. <br>
      </p>
    </h5>
  </div>
  <div class="col-lg-7 col-g-5 col-sm-1 text-center  p-lg-5 p-sm-5 p-md-3 pb-3">
    <div id="mainSlider" class="carousel slide carousel-fade pt-2 pb-2" data-bs-ride="carousel">
      <div class="carousel-inner" id="img-inter1">
        <div class="carousel-item active">
          <img src=" {% static 'img/technology/angular-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/bootstrap-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/django-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/fastapi-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/ionic-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/javascript-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/node-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/python-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
        <div class="carousel-item">
          <img src=" {% static 'img/technology/react-logo.jpg' %} " class="img-thumbnail rounded-pill w-25 h-25"
            alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 20rem;"></div>
<div class="container-fluid img-bg-who">
  <div style="height: 35rem;">
    <h5 class="h5-h-100 text-black-50 text-start " style="padding-top: 5rem;">
      <p id="text-who" class="text-who-hidde">
        Desde la comodidad de tu casa. <br>
        Recibe nuestro servicio con el mejor costo-calidad. <br>
        Con nosotros obtienes la mejor relación  <br>
        calidad precio. <br>
        Tus smarphones, laptop y dispostivos estan <br>
        seguros bajo nuestro cuidado. <br>
        Puedes relajarte con la seguridad de que tu familia <br>
        está con Pr0c0d3 <br>
        Somos la solucion a tus problemas tecnológicos <br>
      </p>
    </h5>
  </div>
</div>

<div style="height: 40rem;"></div>
{% endblock content %}
{% block script %}
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
<script>
  'use strict'
  const scrollText = async () => {
    let textBlock = document.getElementById('text-who')
    textBlock.className = (textBlock.offsetTop - 700 < document.documentElement.scrollTop &&
      document.documentElement.scrollTop < textBlock.offsetTop - 150) ? 'text-who-apper' : 'text-who-hidde'
  }

  window.addEventListener('scroll', scrollText)
</script>
{% endblock script %}