{% extends 'cell_index.html' %}
{% load static %}
{% block title %}Información{% endblock title %}

{% block content %}
<!--Info-->
<div style="height: 5rem;"></div>
<div class="container-center text-center info">
    <div class="container p-4 block-effect-1">
        <h3 class="bi-type-h3">Recuento</h3>
        <p class="text-body">
            {% lorem 3 b random %}
        </p>
    </div>
    <div class="container p-4 block-effect-2">
        <h3 class="bi-type-h3">Acuerdos</h3>
        <p class="text-body">
            {% lorem 3 b random %}
        </p>

    </div>
    <div class="container p-4 block-effect-3">
        <h3 class="bi-type-h3">Porque elegirnos</h3>
        <p class="text-body">
            {% lorem 3 b random %}
        </p>
    </div>
</div>
<div style="height: 10rem;"></div>
{% endblock content %}
{% block script %}
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
{% endblock script %}