{% extends 'cell_index.html' %}
{% load static %}
{% load cloudinary %}
{% cloudinary test_model_instance.image.name width=100 height=100 %}
{% block title %}Shop{% endblock title %}
<!--Carousel-Shop-->
{% block content %}
<!--Show Items-->
<!--Carousel Shop-->
<div style="height:6rem;"></div>
<main class="container-fluid">
    <div class="text-center img-bg shadow" style="height: 40rem">
        <h1 class="procode-title  procode-pres1">© PR0C0D3|Shop</h1>
    </div>
</main>
<div style="height:5rem;"></div>
<!--Carousel-Partners-->
<div id="carouselPartners" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src=" {% static 'img/carousel_partners/ALCATEL.jpg' %} " class="img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/carousel_partners/APPLE.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/ASUS.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/BLU.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/HUAWEI.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/LG.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/MOTOROLA.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/NOKIA.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/SAMSUNG.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/SONY.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/TCL.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/XIAOMI.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_partners/ZTE.jpg' %}" class="img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPartners" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color:#4e4e4e ;">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPartners" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color:#4e4e4e ;">Next</span>
    </button>
</div>

<div style="height:5rem;"></div>

<!--Navbar-Search-->
<div class="container-fluid w-75 navbar-light">
    <div class="container-md pt-2 pb-5">
        <form class="d-flex w-100" method="GET" action="">
            <input id="id-search" class="form-control me-2 shadow" onkeydown=takeKeypress(event) type="search"
                placeholder="Buscar..." aria-label="Search" name="search" value="">
        </form>
    </div>
</div>
<!--Muestra articulos de la bd-->
<div class="container item-block" id="items-box" onscroll=scrollInf()>
    <div class="row   text-light m-sm-4" id="items-ajax">
        {% include 'dashboard/items_ajax.html' %}
    </div>
</div>

<div style="height:5rem;"></div>

<!--Sponsors-->
<div id="carouselSpnsors" class="carousel carousel-dark slide shadow" data-bs-ride="carousel">
    <div class="carousel-inner text-center h-25" style="background-color:#f9f9f9 ;">
        <div class="carousel-item active">
            <img src=" {% static 'img/carousel_sponsors/sponsor-img1.jpg' %} " class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_sponsors/sponsor-img2.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_sponsors/sponsor-img3.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_sponsors/sponsor-img4.jpg' %}" class="img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpnsors" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color:#4e4e4e ;">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSpnsors" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color:#4e4e4e ;">Next</span>
    </button>
</div>
<div style="height: 15rem;"></div>

{% endblock content %}

{% block script %}
<script src=" {% static 'procodejs/scrollitems.js' %} "></script>
<script src=" {% static 'procodejs/selectorGet.js' %} "></script>
<script src=" {% static 'procodejs/selectorPost.js' %} "></script>
{% endblock script %}