{% extends 'cell_index.html' %}
{% block title %}Contactos{% endblock title %}

{% block content %}
    <div class="container-center text-center p-3 contact-user">
        <h3 class="bi-type-h3">Enlaces</h3>
        <p class="text-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, 
           quod ullam laborum, ex nam maxime consequuntur, asperiores in aspernatur 
           corporis reiciendis.
           Ratione asperiores fuga eaque quae, officiis harum ipsum error?</p>

    </div>
{% endblock content %}