{% extends 'index.html' %}

{% block content_carousel %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src=" {% url 'img/phones/google-pixel.png' %}" class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/iphone-6s-plus.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/iphone.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/iphone-1.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/iphone-2.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/smartphone-1.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/smartphone-2.png' %} " class="d-block w-90" alt="">
            </div>
            <div class="carousel-item">
                <img src=" {% url 'img/phones/smartphone.png' %} " class="d-block w-90" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
{% endblock content_carousel %}

{% block items %}
    <div class="row row-cols-4 pt-5 pb-5 text-light">
        {% if itemcells %}
            {% for item in itemcells %}
                <div class="col">
                    <a href=" {{ item.get_absolute_url }} ">
                        <img src=" {{item.image}} " class="img-fluid rounded" alt=".."> 
                    </a>
                </div>
            {% endfor %}
        {% empty %}
                <h2> There're articles</h2>
        {% endif %}
      
    </div>

{% endblock items %}