<div class="container-md text-center text-light">
    <img src=" {{ item.image }} " class="img-fluid rounded w-100" alt="No existe imagen">
    <address>
        Last update: {{ itemcell.updated_date }}. <br>
        Model: {{ itemcell.model_name }}. <br>
        Price: {{ itemcell.price }}. <br>
        Description: <p>{{ itemcell.description|linebreaks }}</p>. <br>
        Contact: <a href="mailto:{{ itemcell.owner_user.email }}">{{ itemcell.owner_user.email }}</a>. <br> 
        Phone: <a href="what:{{ itemcell.owner_user.phone }}">{{ itemcell.owner_user.phone }}</a>. <br>
    </address>
</div>
